.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#navBar a {
  text-decoration: none;
  color: gray;
  padding: 14px 2px;
}

#navBar a#navTrainzilla {
  font-size: 22px;
  letter-spacing: 2px;
  color: #003366;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#aboutUsBG {
  background-repeat: no-repeat;
  background-size: cover;
}

#slogan {
  font-size: 1.8em;
  font-weight: bold;
  color: #1B4B7C;
}

#theTeam {
  background-color: white;
  color: #1B4B7C;
  font-size: 2.4rem;
  letter-spacing: 1.5em;
  padding: 0.3em;
  opacity: 0.5;
  text-align: center;
}

.teamPic img {
  width: 58%;
  height: auto;
  margin-bottom: 5%;
}

.teamPic .lynDesc, .teamPic .kingsleyDesc, .teamPic .dinaDesc {
  margin: 8px;
}

#aboutUsBG .thanksTT {
  font-size: 1.2em;
  font-style: oblique;
  font-family: monospace;
  letter-spacing: 2px;
  margin-top: 5px;
  color: #4C0099;
}

#aboutUsBG .mdmPic {
  width: 158px;
  height: auto;
  border-radius: 50%;
  box-shadow: #a4edff 2px 2px 8px;
}

.actTab {
  color: #003366 !important;
  border-bottom: 3px solid #003366;
}

#navBar .dropdown-menu {
  border: none;
  background-color: #E2EFFF;
  margin-left: -120px;
  box-shadow: gray 2px 2px 5px;
}

#navBar .ddItem {
  padding: 5% 0;
  padding-left: 12%;
}

#navBar .ddItem:hover {
  background-color: #BEE2E7 !important;
}