.background
  margin: auto
  padding: 12px 0
  text-align: center
  max-width: 100%
  font-size: 12px
  text-shadow: 1px 1px 8px #003366

  .footerimg
    position: relative
    height: 58px
    width: auto
    margin: 2px 0px

  #cr
    color: gray
