#navBar
  background-color: #E2EFFF
  margin: 0
  height: 55px

  a
    text-decoration: none
    color: gray
    padding: 15px 0 15px 0

  #navTrainzilla
    font-size: 22px
    letter-spacing: 2px
    color: #003366

  .dropdown-menu
    border: none
    background-color: #E2EFFF
    margin-left: -120px
    box-shadow: gray 2px 2px 5px

  .itemBox
    padding: 0
    margin: 0

  .ddItem
    padding: 5% 0 0 12%

  .ddItem:hover
    background-color: #BEE2E7 !important

  .actTab
    color: #003366 !important
    border-bottom: 3px solid #003366

