body
  margin: 0

  .bgImg
    background: url("../Images/bgImg.jpg")

  .box
    padding-top: 10px
    margin-bottom: 5px

  .center
    display: flex
    justify-content: center

  .announcementBar
    background-color: #0080FF
    padding: 6px
    font-size: 1vmax
    font-family: "Georgia", "Times New Roman", 'serif'

  .flex
    display: flex
    padding-bottom: 50px

  .leftCard
    padding: 20px 15px 0 0
    height: 505px
    width: 23vw
    margin-left: 20px

  .ticketDetailBox
    margin: 0
    padding: 0

    .bookingButton
      margin-top: 40px
      width: 21vw

  .rightCard
    margin-left: 30px
    margin-right: 30px
    padding: 20px
    height: 505px
    overflow: auto
    background: #F2F3F5
    width: 68vw

    .routeBox
      margin-bottom: 50px

    .routeDetails
      width: auto
      border-style: solid
      border-width: thin medium
      border-color: #004684
      border-radius: 10px
      padding: 30px 10px 45px 10px

    .button
      width: 15vw
      alignment: center
      display: block
      margin-left: auto
      margin-right: auto
      margin-top: -30px
      background-color: white
      border-color: #004684
      border-width: 2px
      border-radius: 7px
      box-shadow: 0 10px 6px -6px #444444
