//img
//	width: 100%
//	height: 100%
//div
//	&.box
//		margin-top: 30px
//.inLeft,p.icon, p.one
//	position: relative
//.left
//	float: left
//	margin-left: 100px
//	border: 2px solid black
//	width: 190px
//	height: 500px
//	background-color: white
//p
//	margin-left: 15px
//	&.icon
//		margin-left: 120px
//	&.titleLine
//		margin-left: 10px
//		margin-top: 30px
//		font-weight: bold
//		font-size: 15px
//		margin-bottom: 35px
//	&.one
//		margin-top: 75px
//	&.two
//		margin-top: 115px
//	&.three
//		margin-top: 155px
//	&.four
//		margin-top: 195px
//	&.five
//		margin-top: 235px
//.inLeft
//	width: 186px
//	height: 30px
//	padding: 20px
//	&:hover
//		cursor: pointer
//		background-color: rgb(87, 158, 240)
//		border: 1px solid black
//	&:active
//		background-color: rgb(18, 69, 128)
//p.one, p.two, p.three, p.four, p.five
//	position: absolute
//	margin-left: 100px
//	height: 30px
//	padding: 25px
//.right
//	float: left
//	margin-left: 110px
//	border: 1px solid black
//	width: 700px
//	height: 500px
//a
//	&:link
//		text-decoration: none


.leftNav
  margin: 2vw
  min-height: 35vw
  width: 35%

.button
  width: 100%

.rightPaper
  //border: 1px solid black
  margin: 2vw
  width: 100%



//img
//  width: 100%
//  height: 100%
//
//
//ul.announcement
//  background-color: #388EBF
//  color: white
//  margin-top: -5px
//  padding: 0
//
//
//li.announcement
//  display: block
//  text-align: center
//  margin: 0
//  padding: 0
//
//
//ul.navbar
//  list-style-type: none
//  overflow: hidden
//  background-color: #FAFAF9
//  margin-top: -5px
//
//
//li.navbar
//  float: left
//  display: block
//  text-align: center
//  padding: 15px 40px
//  color: #124580
//
//
//li.navbarr
//  float: left
//  display: block
//  text-align: center
//  padding: 15px 40px
//  margin-left: 400px
//  color: #124580
//
//
//div.box
//  margin-top: 30px
//
//
//div.left
//  float: left
//  margin-left: 100px
//  border: 1px solid black
//  width: 190px
//  height: 500px
//
//
//p
//  margin-left: 15px
//
//
//p.mainLine
//  margin-top: 10px
//
//
//p.titleLine
//  margin-top: 30px
//
//
//p.lines
//  margin-top: 10px
//
//
//div.right
//  float: left
//  margin-left: 140px
//  border: 1px solid black
//  width: 700px
//  height: 500px
//
//
//a:link
//  text-decoration: none
