#bgPaper
  background-repeat: no-repeat
  background-size: cover
  min-height: 100vh
  background-image: url("../Images/loginBG.png")
  width: 100%
  height: 100%
  margin: auto
  text-align: center

  #loginBG
    background-color: rgba(226,239,255,0.92)
    min-height: 100vh

  .bigTitle
    font-family: "Georgia", "Times New Roman", 'serif'
    font-size: 2.9em
    letter-spacing: 21px
    padding-top: 29px
    text-shadow: 1px 1px 8px white
    font-weight: bold

  .forgetTitle
    letter-spacing: 12px

  input
    background-color: white !important

  .css-10botns-MuiInputBase-input-MuiFilledInput-input:-webkit-autofill 
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    
  .middleCard
    margin: 24px
    background-color: transparent !important
    border: none
    box-shadow: none

  .blockDisplay
    display: block

  .flexDisplay
    display: flex
    margin: auto
    text-align: center
    width: 42vw

  .container
    margin-bottom: 1vh
    padding: 0 1vw 0 1vw

  .alert
    margin: auto
    width: fit-content
    padding: 5px 29px

  .textBox
    width: 30vw

  .form
    margin: 2vw

  .registerTextBox
    width: 30vw
    margin-bottom: 2vw

  .leftTextBox
    margin-right: 2vw

  .forgetEmail input
    background-color: rgba(255,255,255,0.8) !important
    font-weight: bold
    width: 30vw

  .forgetEmail .css-10botns-MuiInputBase-input-MuiFilledInput-input:-webkit-autofill 
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;

  .forgetBtn
    font-weight: bold
    margin: 21px
    box-shadow: 2px 2px 3px #008DC5

  .submitButton
    height: 121px
    margin-top: -1vh
    margin-right: 1vw

  .icon
    border: 1px solid black
    padding: 1vmax

  .registerBtn
    margin-top: 2vh
    padding: 1vw 5vw
    letter-spacing: 6px
    word-spacing: 6px

  .orTitle
    font-size: 1.2em
    font-weight: bold

  .forgetLink
    padding-right: 26vw
    font-weight: bold

  .backLink
    padding-right: 18vw
    font-weight: bold

  @media (max-width: 480px) 
    .bigTitle
      font-size: 100%
      letter-spacing: 12px